body {
 background-image:url(https://i.pinimg.com/736x/b1/5f/23/b15f236151e451068f5530c26c102b75.jpg);
 background-size:100%;
 background-attachment: fixed;
 background-repeat: no-repeat;
}
.container {
  font-family: "AvenirBook", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color:white;
  padding: 4px;
  margin: 4px auto;
  float: left;
  width: 30%;
  display: block;
  min-height: 200px;
  animation-name: hover;
  animation-duration: 2000ms;
}
.body {
  align-items: center;
}
@keyframes hover {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

h1 {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4px;
  padding: 4px;
}

.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background:white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 2em;
  color: black;
  text-align: center;
  transition: 0.5s ease;
}
.input-check:checked ~ h2 {
  color: #00f7ff;
  text-shadow: 0 0 15px #00f7ff, 0 0 30px #00f7ff;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
}

.input-box .input-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background:black;
  transition: 0.5s ease;
}

.input-check:checked ~ .input-box .input-line {
  background: #00f7ff;
  box-shadow: 0 0 10px #00f7ff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color:black;
  pointer-events: none;
  transition: 0.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-check:checked ~ .input-box label {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
  transition: 0.5s ease;
}

.input-check:checked ~ .input-box input {
  color: #00f7ff;
  text-shadow: 0 0 5px #00f7ff;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
  transition: 0.5s ease;
}

.input-check:checked ~ .input-box .icon {
  color: #00f7ff;
  filter: drop-shadow(0 0 5px #00f7ff);
}

.remember-forgot {
  color: #fff;
  font-size: 0.9em;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
}

.input-check:checked ~ .remember-forgot {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
  transition: 0.5s ease;
}

.input-check:checked ~ .remember-forgot label input {
  accent-color: #00f7ff;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.input-check:checked ~ .remember-forgot a {
  color: #00f7ff;
}

button {
  width: 100%;
  height: 40px;
  background:black;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
  transition: 0.5s ease;
}
.next {
  width: 200px;
  height: 40px;
  margin: 4px auto;
  background:black;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color:white;
  font-weight: 500;
  transition: 0.5s ease;
  position: relative;
  text-align: center;
  align-self: center;
}
.link{
  color: white;
}

.input-check:checked ~ button {
  background: white;
  box-shadow: 0 0 15px #00f7ff, 0 0 15px #00f7ff;
}

.register-link {
  color:black;
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0 10px;
  transition: 0.5s ease;
}

.input-check:checked ~ .register-link {
  color: #060909;
  text-shadow: 0 0 10px #00f7ff;
}

.register-link p a {
  color:black;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.5s ease;
}

.register-link p a:hover {
  text-decoration: underline;
}

.input-check:checked ~ .register-link p a {
  color: hsl(182, 100%, 50%);
}

.navbar {
  background-color: white;
  padding: 2px;
  margin: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 28px;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar ul {
  overflow: auto;
  list-style: none;
}
.navbar a {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
.search {
  float: right;
  padding: 2px 100px;
  border-style:solid black;
  border-radius: 4px;
}
