body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.349) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.parent {
  height: 100vh;
  margin: 20px 10px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.navbar {
  background-color: white;
  padding: 2px;
  margin: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar ul {
  overflow: auto;
  list-style: none;
}
.navbar a {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
.search {
  float: right;
  padding: 2px 100px;
}

.card1 {
  background-color: white;
  transition: 0.3s;
  width: 85%;
  margin: 16px auto;
  padding: 5px;
  border: 1px;
  border-radius: 25px;
}

.full-length {
  height: 100%;
}
.card2 {
  transition: 0.3s;
  width: 95%;
  margin: 14px;
  padding: 5px;
  background-color: white;
  color: black;
  border: 1px;
  border-radius: 20px;
}

.card3 {
  display: block;
  width: 95%;
  margin: 14px;
  padding: 5px;
  background-color: white;
  color: black;
  float: right;
  border: 1px;
  border-radius: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  text-align: center;
}
.card3 pre{
  text-align: center;
  padding-bottom: 10px;

}
.card3 h4{
  text-align: center;
}

.half-length {
  height: 48%;
  width: 48%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 48%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.end {
  background-color: black;
  color: white;
  width: 150px;
  height: 100px;
}
h3 {
  font-size: 25px;
}
.findmax {
  border-radius: 20px;
  color: white;
  background-color: black;
  width: 15%;
}
h1 {
  padding-top: 40px;
  color: white;
  font-size: 50px;
}
.image{
  width: 600px;
  padding-bottom: 50px;
}

