body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.349) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 130%;
}
h1 {
  color: black;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4px;
  padding: 4px;
}
body{
  background-color: black;
}

.navbar {
  background-color: white;
  padding: 2px;
  margin: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 28px;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar ul {
  overflow: auto;
  list-style: none;
}
.navbar a {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
.search {
  float: right;
  padding: 2px 100px;
}

.names {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  color: white;
  margin: 0 auto;
  font-size: 25px;
  height: 100%;
  width: 50%;
  align-items: left;
  text-align: center;
  background-color: #33b1d0;
}

.text {
  font-size: 30px;
  color: blue;
  margin: 0 auto;
  text-align: center;
}
