body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.349) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1 {
  color: white;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4px;
  padding: 4px;
}

.navbar {
  background-color: white;
  padding: 2px;
  margin: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 28px;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar ul {
  overflow: auto;
  list-style: none;
}
.navbar a {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
.search {
  float: right;
  padding: 2px 100px;
}

.names {
  border-radius: 20px;
  color: black;
  margin: 5px auto;
  font-size: 25px;
  height: 200px;
  width: 400px;
  align-items: center;
  text-align: center;
  background-color: azure;
  border: 1px solid black;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 6px 2px;
}

.text {
  font-size: 30px;
  color: white;
  margin: 0 auto;
  text-align: center;
}
h2 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
