.navbar {
  background-color: white;
  padding: 2px;
  margin: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 28px;
}
.navbar li {
  float: left;
  list-style: none;
}
.navbar ul {
  overflow: auto;
  list-style: none;
}
.navbar a {
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
.search {
  float: right;
  padding: 2px 100px;
}
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.349) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1 {
  color: black;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4px;
  padding: 4px;
}
p {
  font-size: 20px;
  text-align: left;
  color: white;
}
.box {
  color: black;
  text-align: center;
  background-color: azure;
  width: 50%;
  margin: auto;
  border: 0px;
  border-radius: 20px;
}
.box ul {
  list-style-type: none;
  font-size: large;
}
